<html>
<body>
<div id="1">#1=IFCOWNERHISTORY(<a href="#29529">#29529</a>,<a href="#13205">#13205</a>,$,.ADDED.,0,$,$,1150807246);</div>
<div id="2">#2=IFCGEOMETRICREPRESENTATIONCONTEXT('TestGeometricContext','TestGeometry',3,0.0,<a href="#9">#9</a>,$);</div>
<div id="3">#3=IFCDIRECTION((0.0,0.0,1.0));</div>
<div id="4">#4=IFCCARTESIANPOINT((0.0,0.0));</div>
<div id="5">#5=IFCDIRECTION((1.0,0.0));</div>
<div id="6">#6=IFCDIRECTION((-1.0,0.0));</div>
<div id="7">#7=IFCCARTESIANPOINT((0.0,2548.0));</div>
<div id="8">#8=IFCDIRECTION((1.0,0.0,0.0));</div>
<div id="10">#10=IFCDIRECTION((-1.0,0.0,0.0));</div>
<div id="11">#11=IFCCOMPOSITECURVESEGMENT(.CONTINUOUS.,.T.,<a href="#32523">#32523</a>);</div>
<div id="12">#12=IFCDIRECTION((0.0,1.0,0.0));</div>
<div id="13">#13=IFCCOMPLEXPROPERTY('Color',$,'Color',(<a href="#13186">#13186</a>,<a href="#13174">#13174</a>,<a href="#13197">#13197</a>));</div>
<div id="14">#14=IFCVECTOR(<a href="#30">#30</a>,2548.0);</div>
<div id="15">#15=IFCLOCALPLACEMENT(<a href="#1016">#1016</a>,<a href="#31261">#31261</a>);</div>
<div id="16">#16=IFCLOCALPLACEMENT(<a href="#1016">#1016</a>,<a href="#31327">#31327</a>);</div>
<div id="17">#17=IFCDIRECTION((0.0,-1.0,0.0));</div>
<div id="18">#18=IFCVECTOR(<a href="#27">#27</a>,2000.0);</div>
<div id="9">#9=IFCAXIS2PLACEMENT3D(<a href="#21">#21</a>,<a href="#3">#3</a>,<a href="#8">#8</a>);</div>
<div></div>
</body>
</html>